<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ctrl_Estudiantil.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ctrl_Estudiantil.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ctrl_Estudiantil.My.MySettings.Cn" connectionString="Data Source=JSANCHEZ\SQLEXPRESS;Initial Catalog=Francisca_Hernandez_E;Integrated Security=True;Connect Timeout=3"
            providerName="System.Data.SqlClient" />
        <add name="Ctrl_Estudiantil.My.MySettings.Francisca_Hernandez_EConnectionString"
            connectionString="Data Source=VEXIA-V156-V3\SQLEXPRESS;Initial Catalog=Francisca_Hernandez_E;Integrated Security=True;Connect Timeout=240"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Ctrl_Estudiantil.My.MySettings>
            <setting name="Id_Empleado" serializeAs="String">
                <value>0</value>
            </setting>
        </Ctrl_Estudiantil.My.MySettings>
    </applicationSettings>
    <userSettings>
        <Ctrl_Estudiantil.My.MySettings>
            <setting name="Servidor_o_Cliente" serializeAs="String">
                <value>Cliente</value>
            </setting>
            <setting name="Base_de_Datos" serializeAs="String">
                <value>Ctrl_Estudiantil</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="Software" serializeAs="String">
                <value>FHernandez_E</value>
            </setting>
            <setting name="Pasword_BD" serializeAs="String">
                <value>del1al10</value>
            </setting>
            <setting name="Serial_ff" serializeAs="String">
                <value>xxxx</value>
            </setting>
            <setting name="Serial_l" serializeAs="String">
                <value>xx</value>
            </setting>
            <setting name="Serial_x" serializeAs="String">
                <value>x</value>
            </setting>
        </Ctrl_Estudiantil.My.MySettings>
    </userSettings>
</configuration>